


#tvframe {
    width: 300px;
    height:300px;
    position: absolute;
    left: 10%;
    top: 20%;
    
}
#videon{
    width:240px;
    height:300px;
    position:absolute;
    left:10%;
    top:20%;
    margin-left:50px;
    margin-top:50px;
}
#videoplayer{
    position:relative;
}

