
body {
    background-color: hotpink;
}


@media screen and (max-width:479px) {
    #smartphone {
        display: inherit;
   text-align:center;
   color:brown;
    }
    
  #monitor {
      display: none;
  }
  #tablet {
      display:none;
  }
}

@media screen and (min-width:480px) {
    
body {
    background-color: cornflowerblue;
}
#monitor {
    display:none;
}
#smartphone {
    display: none;
}
#tablet {
    display: inherit;
    text-align:center;
    color:red;
}

}
@media screen and (min-width:768px) {
   
body {
    background-color: khaki;
}
#monitor {
    text-align:center;
    display: inherit;
    color:black;
}
#smartphone {
    display: none;
}
#tablet {
    display: none;
}
}
