
body {
    background-color: hotpink;
}


@media screen and (max-width:479px) {
    #smartphone {
   text-align:center;
    }
    
  #monitor {
      display: none;
  }
  #tablet {
      display:none;
  }
}

@media screen and (min-width:480px) {
    
body {
    background-color: cornflowerblue;
}
#monitor {
    display:none;
}
#smartphone {
    display: none;
}
#tablet {
    text-align:center;
}

}
@media screen and (min-width:768px) {
   
body {
    background-color: khaki;
}
#monitor {
    text-align:center;
    display: inherit;
}
#smartphone {
    display: none;
}
#tablet {
    display: none;
}
}
