#change {
    margin: 100px;
    background-color: #00ffff;
    padding: 5px;
    width: 60px;
    height: 60px;
    color: black;
    font-family: Ravie;
    font-size: 10px;
    transform: rotate(10deg);
    transition: all 2s ease;
}

    #change:hover {
        background-color: hotpink;
        padding: 40px;
        width: 600px;
        height: 600px;
        color: black;
        font-family: M'Matura MT Script Capitals';
        font-size: 100px;
        font:bold;
        transform: rotate(50deg);
    }